<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music_app">
    
    <!-- Permissions required for the app -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:label="music_app"
        android:icon="@mipmap/ic_launcher">
        <receiver android:name="com.dexterous.flutterlocalnotifications.notifications.NotificationReceiver"/>
         <service android:name="com.dexterous.flutterlocalnotifications.services.NotificationService"/>

        <!-- Add your activities and other components here -->
    </application>
</manifest>
